.wrapper {
    margin: 30px auto 100px;
    padding: 0 20px;
    width: 100%;
    max-width: 900px;
}

.btn_add {
    display: inline-flex;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-dark-jungle);
    color: var(--color-white);
    transition: background-color .1s linear;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn_add:hover {
    background-color: var(--color-black);
}

.btn_add img {
    margin-right: 17px;
}

/* Основной стиль для модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.modal_content {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    width: 470px;
}
  
.modal_title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.modal_input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal_textarea {
    width: 100%;
    max-width: 430px;
    max-height: 200px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal_file {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal_textarea:focus {
    outline: none;
}

.modal_btns {
    display: flex;
    justify-content: flex-end;
}

.modal_close {
    padding: 15px 40px;
    background-color: var(--color-white);
    color: var(--color-dark-jungle);
    border: 1px solid var(--color-cadet-grey);
    border-radius: 5px;
    cursor: pointer;
}

.modal_save {
    padding: 15px 40px;
    margin-left: 20px;
    background-color: var(--color-dark-jungle);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}