.wrapper {
    margin: 30px auto 100px;
    padding: 0 20px;
    width: 100%;
    max-width: 900px;
}

.btn_add {
    display: inline-flex;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-dark-jungle);
    color: var(--color-white);
    transition: background-color .1s linear;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn_add:hover {
    background-color: var(--color-black);
}

.btn_add img {
    margin-right: 17px;
}