.wrapper {
    margin: 30px auto 100px;
    padding: 0 20px;
    width: 100%;
    max-width: 900px;
}

.btn_add {
    display: inline-flex;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-dark-jungle);
    color: var(--color-white);
    transition: background-color .1s linear;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn_add:hover {
    background-color: var(--color-black);
}

.btn_add img {
    margin-right: 17px;
}

/* Основной стиль для модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}
  
.modal_content h2 {
    margin-bottom: 20px;
}
  
.modal_content label {
    display: block;
    margin-bottom: 10px;
}
  
.modal_content input,
.modal_content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.modal_content button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
  
.modal_content button[type="button"] {
    background-color: #f44336;
}
  
.modal_content button:hover {
    opacity: 0.9;
}
  