@import './reset.css';

:root {
  --white: #FFFFFF;
  --black: #4B4B4B;
  --chinese-silver: #CCCCCC;
  --bright-gray: #EAEAEA;
  --cultured: #F8F8F8;
  --lavender: #E8F0FE;
  --quartz: #4B4B4B;
  --bleu-de-france: #3583EB;
  --celtic-blue: #226BCD;
  --dark-spring-green: #188038;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
